.header {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #ffffff;
  box-shadow: 1px 2px 3px 0px #00000030;
}

.headerMenuLogo {
  font-size: 25px;
  cursor: pointer;
}
.headerTitle {
  text-transform: uppercase;
  padding: 0 0 0 10px;
}
