.planeAvatarContainer {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.planeAvatar {
  position: relative;
}
.calcContainer {
  display: flex;
  flex-flow: column;
}
.calcPlaneBlock {
  display: flex;
  flex-flow: column;

  align-items: center;
}
.titlePlane {
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
}
.table {
  display: flex;
  flex-flow: column;
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 15px;
}
.leftColumn {
  color: #808086;
  display: flex;
  flex-flow: row;
  align-items: center;
  text-transform: uppercase;
}
.leftColumn i {
  padding-right: 10px;
}
.rightColumn {
  color: #2277ff;
  font-weight: bold;
}
