.planeAvatarContainer {
  max-width: 570px;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.planeAvatar {
  position: relative;
  border-radius: 10px;
}
.calcContainer {
  display: flex;
  flex-flow: column;
}
.calcPlaneBlock {
  display: flex;
  flex-flow: column;

  align-items: center;
}
.titlePlane {
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
}
.table {
  display: flex;
  flex-flow: column;
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 15px;
}
.leftColumn {
  color: #808086;
  display: flex;
  flex-flow: row;
  align-items: center;
  text-transform: uppercase;
}
.leftColumn i {
  padding-right: 10px;
}
.rightColumn {
  color: #2277ff;
  font-weight: bold;
}
.multiColumn {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
.multiColumn div:first-child {
  color: #0fde8c;
}
.columnSecondColor {
  color: #0fde8c;
}
.mapContaniner {
  margin: auto;
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 50px;
}
.toolTip {
  color: #ffffff;
  transition: 0.2s;
  background-color: #ffffff;

  margin: 5px;
  padding: 5px 20px 5px 20px;
  border-radius: 50px;
  box-shadow: 1px 6px 19px 1px #0009;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.toolTip div:nth-child(2) {
  text-align: center;
}
.blueToolTip {
  background-color: #2277ff;
}
.greenToolTip {
  background-color: #0fde8c;
}
.purpleToolTip {
  background-color: #7a0fde;
}
.toolTipContainer {
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: row;
}
