/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
/*=================modal =================*/
.modal-enter {
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;

  transition: opacity 300ms;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;

  transition: opacity 300ms;
}
/*=================modal end=================*/
/*=================alert =================*/
.alert-enter {
  opacity: 0;
  transform: scale(0.1);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.1);
  transition: opacity 300ms, transform 300ms;
}
/*=================alert end =================*/

body {
  margin: 0;
  position: relative;
  color: #000000;
  height: 100vh;
  background-color: #eaeff2;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 1;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
