.HomeContainer {
  display: flex;
  flex-flow: column;
  padding: 90px 10px 0px 10px;
  justify-content: center;
  align-items: center;
}

.home {
  padding: 40px 40px 40px 40px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0px 5px 3px 0px #00000030;
  min-width: 600px;
}
.input {
  width: 100%;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  font-size: 15px;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  transition: all 100ms;
  box-sizing: border-box;

  padding-left: 10px;
}
.input:focus {
  border-color: #2277ff;
  border: 2px solid #2277ff;
}
.twoColumns {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.inputContainer {
  width: 100%;
  margin-bottom: 20px;
}
.calcBlck {
  display: flex;
}

.btnCalck {
  border: 2px solid #2277ff;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  color: #2277ff;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s;
  outline: 0;
  width: 100%;
}
.btnCalck:hover {
  color: #ffffff;
  background-color: #2277ff;
}
.btnCalck:active {
  font-size: 12px;
}
.inputTitle {
  display: flex;
  align-items: center;
  color: hsl(0, 0%, 50%);
  font-weight: inherit;
  padding-bottom: 10px;
}
.inputTitle i {
  padding-right: 5px;
  color: #2277ff;
}
